<ion-header>
  <ion-toolbar></ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="scan-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header>
    <ion-label>Stories</ion-label>
  </ion-list-header>
  <div class="scroll_box">
    <div class="storie_box" style="background-image: url(../../assets/photo-1.jpg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-1.jpeg"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>Pink</p>
    </div>
    <div class="storie_box" style="background-image: url(../../assets/photo-2.jpg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-2.png"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>Jessie</p>
    </div>
    <div class="storie_box" style="background-image: url(../../assets/photo-3.jpeg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-3.jpg"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>Michael</p>
    </div>
    <div class="storie_box" style="background-image: url(../../assets/photo-4.jpg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-4.jpg"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>John</p>
    </div>
    <div class="storie_box" style="background-image: url(../../assets/photo-5.jpg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-5.jpeg"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>Eric</p>
    </div>
    <div class="storie_box" style="background-image: url(../../assets/photo-6.jpg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-6.jpg"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>Paul</p>
    </div>
    <div class="storie_box" style="background-image: url(../../assets/photo-7.jpg);background-size: cover;">
      <ion-avatar><img src="../../assets/photo-profil-7.png"></ion-avatar>
      <ion-badge><ion-icon name="add"></ion-icon></ion-badge>
      <p>Lisa</p>
    </div>
  </div>

  <ion-list-header>
    <ion-label>Trending</ion-label>
  </ion-list-header>
  <div class="scroll_box">
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-5.jpg);background-size: cover;">
      <p>27.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-4.jpeg);background-size: cover;">
      <p>11.2M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-1.jpg);background-size: cover;">
      <p>2.5M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-2.jpg);background-size: cover;">
      <p>9.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-3.jpg);background-size: cover;">
      <p>10.0M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-6.jpg);background-size: cover;">
      <p>8.2M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-trending-7.jpg);background-size: cover;">
      <p>15.1M</p>
    </div>
  </div>


  <ion-list-header>
    <ion-label>#Happy</ion-label>
    <ion-button color="medium" fill="solid">24.6M</ion-button>
  </ion-list-header>
  <div class="scroll_box">
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-1.jpg);background-size: cover;background-position: center;">
      <p>27.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-4.jpg);background-size: cover;background-position: center;">
      <p>11.2M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-5.jpg);background-size: cover;background-position: center;">
      <p>2.5M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-2.jpg);background-size: cover;background-position: center;">
      <p>9.8M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-3.png);background-size: cover;background-position: center;">
      <p>10.0M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-6.jpg);background-size: cover;background-position: center;">
      <p>8.2M</p>
    </div>
    <div class="trend_box" style="background-image: url(../../assets/photo-happy-7.jpg);background-size: cover;background-position: center;">
      <p>15.1M</p>
    </div>
  </div>

  <br><br>
 
</ion-content>
